<form action="" class="form form-primary">
    <input type="text" name="" id="" placeholder="Product Name">
    <input type="nubmer" placeholder="Product Id">
    <input type="number" name="" id="" placeholder="Quatity">
    <input type="number" placeholder="Price">
    <input type="submit" class="btn btn-success" name="" id="">
</form>