<h1>
    Register Here
</h1>
@Html.ValidationSummary()

<form action="" method="post">
    <input type="text" name="name" id="" placeholder="Enter Your Name" class="form-control" value="@Model.Name">
    <input type="password" name="pass" placeholder="Enter Your Password " class="form-control" value="@Model.Pass" />

    <input class="btn btn-primary" type="submit" value="Submit">

</form>