<h1>Add Shop</h1>
<h2>@TempData["msg"]</h2>
<form action="" method="post">
    Shop Name : <input type="text" name="ShopName" placeholder="Shop Name" class="form-control">
    Shop Location : <input type="text" name="Location" placeholder="Location" class="form-control">
    MonthlyRent : <input type="number" name="MonthlyRent" placeholder="MonthlyRent" class="form-control">
    OwnerId : <input type="number" name="OwnerId" placeholder="OwnerId" class="form-control" />
    <input type="submit" class="btn btn-success">
</form>